.direnv
.data
node_modules
app/static/fonts/*
!controller/static/fonts/ionicons*
controller/static/css/fonts.css
.env
.env.compose
Modelfile
.java-version
.DS_Store
.svn
*~
*.swp
*.orig
*.rbc
.idea
*.iml
.classpath
.project
.settings
.ruby-version
dump.rdb
main.tfvars
api/data
*.o
*.a
*.so
*.test
*.prof
*.out

vendor/
tmp/
tmp
# tailwindcss
# IDE specific files
.vscode

# build output
air
logfile
post_cmd.txt
main
.main
.tmp/main
tailwindcss
.env.docker
report.xml

