.direnv
.data
node_modules
controller/static/fonts/*
!controller/static/fonts/ionicons*
controller/static/css/fonts.css
.env
Modelfile
.java-version
.DS_Store
.svn
*~
*.swp
*.orig
*.rbc
.idea
*.iml
.classpath
.project
.settings
.ruby-version
.vscode/
dump.rdb
main.tfvars
api/data
