package components

import (
	"github.com/FACorreiaa/go-ollama/core/account"
	"github.com/FACorreiaa/go-ollama/controller/models"
)

templ NavbarComponent(nav []models.NavItem, user *account.User, activeNav string) {
	// <nav class="bg-gray-800 navbar">
	// 	<div class="container">
	// 		<div class="flex-1">
	// 			<a class="navbar-brand" href="/">Aviation Tracker</a>
	// 		</div>
	// 		<div class="flex-none">
	// 			<ul class="nav navbar-nav pull-xs-right">
	// 				for _, item := range nav {
	// 					<li class="nav-item">
	// 						<a href={ templ.URL(item.Path) } class={ "nav-link active", templ.KV(activeNav, item.Path) }>
	// 							<i class={ item.Icon }></i>
	// 							{ item.Label }
	// 						</a>
	// 					</li>
	// 				}
	// 				if user != nil {
	// 					<li class="nav-item">
	// 						<a href={ templ.SafeURL("/profile/" + user.Username) } class="nav-link">
	// 							if user.Image != nil {
	// 								<img src={ templ.EscapeString(*user.Image) } class="user-pic"/>
	// 							}
	// 							{ user.Username }
	// 						</a>
	// 					</li>
	// 				}
	// 			</ul>
	// 		</div>
	// 	</div>
	// </nav>
	<nav class="bg-gray-600 border-gray-200 dark:bg-gray-900">
		<div class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto">
			<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
				<img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo"/>
				<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Aviation Tracker</span>
			</a>
			<div class="hidden w-full md:block md:w-auto" id="navbar-default">
				<ul class="flex flex-col p-4 mt-4 font-medium border border-gray-100 rounded-lg md:p-0 bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
					for _, item := range nav {
						<li>
							<a href={ templ.URL(item.Path) } class={ " focus:text-blue active block px-3 py-2 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500", templ.KV(activeNav, item.Path) }>
								<i class={ item.Icon }></i>
								{ item.Label }
							</a>
						</li>
					}
					if user != nil {
						<li>
							<a href={ templ.SafeURL("/profile/" + user.Username) } class="nav-link">
								if user.Image != nil {
									<img src={ templ.EscapeString(*user.Image) } class="user-pic"/>
								}
								{ user.Username }
							</a>
						</li>
					}
					// <li>
					// 	<a href="#" class="block px-3 py-2 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
					// </li>
					// <li>
					// 	<a href="#" class="block px-3 py-2 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
					// </li>
					// <li>
					// 	<a href="#" class="block px-3 py-2 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
					// </li>
					// <li>
					// 	<a href="#" class="block px-3 py-2 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
					// </li>
					// <li>
					// 	<a href="#" class="block px-3 py-2 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
					// </li>
				</ul>
			</div>
		</div>
	</nav>
}
