package components

import (
	"github.com/FACorreiaa/go-ollama/controller/models"
	"fmt"
	"strconv"
)

script goToNextPage(page int) {
  console.log('page', page)
  return page + 1
}

script returnToPreviousPage(page int) {
  console.log('page', page)
  return page - 1
}

templ TableDaisyComponent(airport models.AirportTable) {
	<div class="flex flex-col items-center">
		<div class="overflow-x-auto">
			<table class="table table-zebra">
				<!-- head -->
				<thead>
					<tr>
						for _, col := range airport.Column {
							<th>{ col }</th>
						}
					</tr>
				</thead>
				<!-- rows -->
				<tbody >
					for _, airport := range airport.Airports {
						<tr>
							<td>{ airport.AirportName }</td>
							<td>{ airport.CountryName }</td>
							if airport.PhoneNumber.Valid {
								<td>{ fmt.Sprintf("%s", airport.PhoneNumber.String) }</td>
							} else {
								<td>
									Phone not available
								</td>
							}
							<td>{ airport.Timezone }</td>
							<td>{ airport.GMT }</td>
							<td>{ fmt.Sprintf("%f", airport.Latitude) }</td>
							<td>{ fmt.Sprintf("%f", airport.Longitude) }</td>
						</tr>
					}
				</tbody>
			</table>
			<!-- paginator -->
			<div class="mt-10">
				<form class="join" hx-boost="true" method="get">
					<a
						class="join-item btn"
						hx-get="/airports"
						hx-select="#renderTable"
						hx-swap="outerHTML"
						hx-trigger="click"
					>First</a>
					<button type="submit" class="join-item btn" hx-get="/airports?page={airport.PrevPage}">«</button>
					<button class="join-item btn disabled">{ strconv.Itoa(airport.Page) }</button>
					<a
						class="join-item btn"
						href={ templ.URL(fmt.Sprintf("/airports?page=%d", airport.NextPage)) }

					>»</a>
				</form>
			</div>
		</div>
	</div>
}
