package components

templ CardComponent() {
	<div class="shadow-xl card w-96 bg-base-100">
		<div class="card-body">
			<h2 class="card-title">Card title!</h2>
			<p>If a dog chews shoes whose shoes does he choose?</p>
		</div>
	</div>
}
