package components

templ EmptyPageComponent() {
    <div>
        <h1>Empty Page here</h1>
        <h2>change this layout later</h2>
        <p>Create empty pages for when there is nothing to render</p>
        <p>Provide option to return to other features</p>
    </div>
}