package components

import "fmt"

templ InputComponentTest(label, route, search, param string) {
	<form
		hx-boost="true"
		method="get"
		hx-get={ route }
		hx-trigger={ fmt.Sprintf("input changed delay:50ms, %s", search) }
	>
		<label class="w-full max-w-xs form-control">
			<div class="label">
				<span class="label-text font-semi-bold text-xs pb-0">{ label }</span>
			</div>
			<input
				type="search"
				placeholder="Type here"
				class="w-full max-w-xs input input-bordered input-sm"
				name={ search }
				value={ param }
			/>
		</label>
	</form>
}
