package components

import (
	"github.com/FACorreiaa/Aviation-tracker/app/models"
)

templ LayoutPage(l models.LayoutTempl) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ l.Title } - SkyVisor Insight</title>
			<link rel="stylesheet" href="/static/css/output.css"/>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v8.2.0/ol.css"/>
			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap" rel="stylesheet"/>
			<link href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" rel="stylesheet" type="text/css"/>
			<script src="https://cdn.jsdelivr.net/npm/ol@v8.2.0/dist/ol.js"></script>
			<script src="https://unpkg.com/@popperjs/core@2"></script>
			<script src="https://unpkg.com/tippy.js@6"></script>
			<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css"/>
			<!-- Alpine Plugins -->
			<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
			<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
			<!-- HTMX -->
			<script src="https://unpkg.com/htmx.org@1.9.9" defer></script>
		</head>
		<body hx-boost="true" x-data="{theme: 'light'}" :class="theme" lang="en">
			<div class="flex flex-col h-screen font-lato" id="contents">
				@NavbarComponent(l.Nav, l.User, l.ActiveNav)
				<div class="h-full overflow-auto">
					@l.Content
				</div>
				@FooterComponent()
			</div>
		</body>
	</html>
}
