package pages

import (
	"github.com/FACorreiaa/go-ollama/controller/html/components"
	"github.com/FACorreiaa/go-ollama/controller/models"
)

templ AirportPage(column []string, airports []models.Airport) {
	<div>
		@components.BannerComponent("Airports", "Check location of your favourite airports")
		<div class="container flex mx-auto my-24 md:px-6">
			<div class="w-1/3">
				@components.SidebarComponent()
			</div>
			<div class="w-2/3">
				<div class="container mx-auto my-24 md:px-6">
					@components.TableDaisyComponent(column, airports)
				</div>
			</div>
		</div>
	</div>
}
