package pages

import (
	"github.com/FACorreiaa/go-ollama/controller/models"
	"github.com/FACorreiaa/go-ollama/controller/html/components"
)

templ LayoutPage(layout models.LayoutTempl) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ layout.Title } - AviTracker</title>
			<link rel="stylesheet" href="/static/css/ionicons.min.css"/>
			<link rel="stylesheet" href="/static/css/fonts.css"/>
			<link rel="stylesheet" href="/static/css/output.css"/>
			<link rel="preconnect" href="https://fonts.googleapis.com"/>
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet"/>
			<link href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" rel="stylesheet" type="text/css"/>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		</head>
		<body hx-boost="true">
			<div class="flex flex-col h-screen font-lato" id="contents">
				@components.NavbarComponent(layout.Nav, layout.User, layout.ActiveNav)
				<div class="h-full">
					@layout.Content
				</div>
				@components.FooterComponent()
			</div>
		</body>
	</html>
}
